<!DOCTYPE html>
<html>
<head>
  <title>PIRATES!!!!!!</title>
</head>
<body>
  <h1>"Welcome to the Nested Forms Lab!"</h1>
  <h2>"let's navigate to the '/new'"</h2>
  <form method = 'POST' action = '/pirate'>
    <p>Pirate name: <input type = 'text' name = 'pirate[name]'></p>
    <p>Pirate weight: <input type = 'text' name = 'pirate[weight]'></p>
    <p>Pirate height: <input type = 'text' name = 'pirate[height]'></p>
    <h3>Ship One</h3>
    <p>Pirate ship name: <input type = 'text' name = 'pirate[ship][][name]'></p>
    <p>Pirate ship type: <input type = 'text' name = 'pirate[ship][][type]'></p>
    <p>Pirate ship booty: <input type = 'text' name = 'pirate[ship][][booty]'></p>
      <h3>Ship Two</h3>
    <p>Pirate ship name: <input type = 'text' name = 'pirate[ship][][name]'></p>
    <p>Pirate ship type: <input type = 'text' name = 'pirate[ship][][type]'></p>
    <p>Pirate ship booty: <input type = 'text' name = 'pirate[ship][][booty]'></p>
    <input type = 'submit' value = 'submit'>
  </form>
</body>
</html>
