<!DOCTYPE html>
<html>
<head>
  <title>PIRATES!!!!!!</title>
</head>
<body>
  <h1>Enter your pirate here.</h1>
  <form method = 'POST' action = '/pirate'>
    <p><input type = 'text' name = 'name'></p>
  </form>
</body>
</html>
