<!DOCTYPE html>
<html>
<head>
  <title>PIRATES!!!!!!</title>
</head>
<body>
  <h1>"Pirates!"</h1>

  <form method = 'POST' action = '/pirate'>
    <p>Pirate name: <input type = 'text' name = 'pirate[name]'></p>
    <p>Pirate weight: <input type = 'text' name = 'pirate[weight]'></p>
    <p>Pirate height: <input type = 'text' name = 'pirate[height]'></p>
    <h3>Ship One</h3>
    <p><label for="ship_name_1">Name</label><input type = 'text' name = 'pirate[ships][][name]'></p>
    <p><label for="ship_name_1">Type</label><input type = 'text' name = 'pirate[ships][][type]'></p>
    <p><label for="ship_name_1"ooty></label><input type = 'text' name = 'pirate[ships][][booty]'></p>
      <h3>Ship Two</h3>
    <p><label for="ship_name_2">Name</label><input type = 'text' name = 'pirate[ships][][name]'></p>
    <p><label for="ship_name_2">Type</label><input type = 'text' name = 'pirate[ships][][type]'></p>
    <p><label for="ship_name_2">Booty</label><input type = 'text' name = 'pirate[ships][][booty]'></p>
    <input type = 'submit' value = 'submit'>
  </form>
</body>
</html>
