<!DOCTYPE html>
<html>
<head>
  <title>Pirates Display!</title>
</head>
<body>
<h1>Your Pirate Here</h1>
<%= @pirate.name%>
<%= @pirate.weight%>
<%= @pirate.height%>

<h2>First Ship Here</h2>


<h2>Second Ship Here</h2>
</body>
</html>
